In [1]:
pip install jupysql pandas matplotlib duckdb-engine

Collecting jupysql
  Downloading jupysql-0.11.0-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.1)
Collecting duckdb-engine
  Downloading duckdb_engine-0.15.0-py3-none-any.whl.metadata (7.9 kB)
Collecting prettytable>=3.12.0 (from jupysql)
  Downloading prettytable-3.15.1-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.12/site-packages (from jupysql) (2.0.39)
Collecting sqlparse (from jupysql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.12/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.12/site-packages (from jupysql) (3.1.6)
Collecting sqlglot>=11.3.7 (from jupysql)
  Downloading sqlglot-26.10.1-py3-none-any.whl.metadata (20 kB)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Collecting duckdb>=0.5.0 (from duckdb-engine)
  Downloading duckdb-1.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (966 bytes)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.21.0-py2.py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.12/site-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: requests<3.0,>=2.7 in /opt/conda/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /opt/conda/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2025.1.31)
Downloading jupysql-0.11.0-py3-none-any.whl (95 kB)
Downloading duckdb_engine-0.15.0-py3-none-any.whl (49 kB)
Downloading duckdb-1.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (20.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.2/20.2 MB 20.4 MB/s eta 0:00:00a 0:00:01
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
Downloading ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Downloading prettytable-3.15.1-py3-none-any.whl (33 kB)
Downloading sqlglot-26.10.1-py3-none-any.whl (453 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Downloading posthog-3.21.0-py2.py3-none-any.whl (79 kB)
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, sqlparse, sqlglot, prettytable, duckdb, backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 duckdb-1.2.1 duckdb-engine-0.15.0 jupysql-0.11.0 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.26 posthog-3.21.0 prettytable-3.15.1 sqlglot-26.10.1 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import duckdb
import pandas as pd

%load_ext sql
conn = duckdb.connect()
%sql conn --alias duckdb

In [2]:
%%sql
SELECT
    schema_name,
    function_name
FROM duckdb_functions()
ORDER BY ALL DESC
LIMIT 5;

Running query in 'duckdb'

+-------------+---------------------------+
| schema_name |       function_name       |
+-------------+---------------------------+
|  pg_catalog |     shobj_description     |
|  pg_catalog |         pg_typeof         |
|  pg_catalog |     pg_type_is_visible    |
|  pg_catalog | pg_ts_template_is_visible |
|  pg_catalog |  pg_ts_parser_is_visible  |
+-------------+---------------------------+

In [11]:
%%sql
CREATE TABLE IF NOT EXISTS bench (
    algorithm VARCHAR,
    prime UBIGINT,
    nBefore UBIGINT,
    nAfter UBIGINT,
    execTime UBIGINT,
    unchangedEntries FLOAT,
    allocatedBytes UBIGINT,
    allocations UBIGINT,
);

COPY bench FROM '.ignore.benchmark.csv';
SELECT * FROM bench;

Running query in 'duckdb'

+-------------+-------+---------+--------+----------+--------------------+----------------+-------------+
|  algorithm  | prime | nBefore | nAfter | execTime |  unchangedEntries  | allocatedBytes | allocations |
+-------------+-------+---------+--------+----------+--------------------+----------------+-------------+
| NaiveSimple |   23  |    3    |   2    |  21204   | 34.779998779296875 |      4009      |      63     |
| NaiveSimple |   23  |    3    |   2    |  10080   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  10418   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  14546   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |   8284   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  47404   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  15861   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  11352   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  16225   | 34.779998779296875 |      3979      |      63     |
| NaiveSimple |   23  |    3    |   2    |  18737   | 34.779998779296875 |      3979      |      63     |
+-------------+-------+---------+--------+----------+--------------------+----------------+-------------+
Truncated to displaylimit of 10.